src/bicep-deployment/Pattern4/src/synapse/pipeline/PL_move_files_from_staging_to_raw.json
{
	"name": "PL_move_files_from_staging_to_raw",
	"properties": {
		"activities": [
			{
				"name": "Lookup_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_staging_csv",
									"type": "DatasetReference",
									"parameters": {
										"directoryname": {
											"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"filename": "*.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_G2_RAW",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@{item().SCHEMA_NAME}",
											"type": "Expression"
										},
										"table_name": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"current_date": {
											"value": "@pipeline().parameters.currentDate",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete from staging",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Blob_Storage_delete_staging",
									"type": "DatasetReference",
									"parameters": {
										"Directory Name": {
											"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"currentDate": {
				"type": "string"
			}
		},
		"annotations": []
	}
}