src/bicep-deployment/Pattern4/src/synapse/pipeline/PL_move_data_from_SQL_to_Staging_area.json
{
	"name": "PL_move_data_from_SQL_to_Staging_area",
	"properties": {
		"activities": [
			{
				"name": "Lookup_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(item().FULLOAD)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy Incremental Data",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "current_date_time",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().SCHEMA_NAME}.@{item().TABLE_NAME} where @{item().WATER_MARK_COLUMN} > @{concat('''',item().DATA_FETCHED_TILL_TIMESTAMP, '''')}  and @{item().WATER_MARK_COLUMN} <= @{concat('''', variables('current_get_time'),'''')}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_source_samplesqldb",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_staging_csv",
												"type": "DatasetReference",
												"parameters": {
													"directoryname": {
														"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}",
														"type": "Expression"
													},
													"filename": {
														"value": "@concat('Incremental_copy_',formatDateTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),'yyyy-MM-ddTHHmmss'), '.csv')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "current_date_time",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "current_get_time",
											"value": {
												"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "update_water_mark_column",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy Incremental Data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "dbo.usp_update_watermark_datetime",
											"storedProcedureParameters": {
												"schemaName": {
													"value": {
														"value": "@{item().SCHEMA_NAME}",
														"type": "Expression"
													},
													"type": "String"
												},
												"tableName": {
													"value": {
														"value": "@{item().TABLE_NAME}",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermarkValueToBeUpdated": {
													"value": {
														"value": "@variables('current_get_time')",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_sqldb",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy Full Data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().SCHEMA_NAME}.@{item().TABLE_NAME}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_source_samplesqldb",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_staging_csv",
												"type": "DatasetReference",
												"parameters": {
													"directoryname": {
														"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}",
														"type": "Expression"
													},
													"filename": {
														"value": "@concat('Full_copy_',formatDateTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),'yyyy-MM-ddTHHmmss'), '.csv')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"current_get_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}